<header>
    
    <nav class="flexrow">
        <ul class="flexrow">
            <li>
            <a  routerLinkActive="active" href="#summarypage">Summary</a>
            </li>
            <li>
            <a routerLinkActive="active" href="#experiencepage">Experience</a>
            </li>
            <li>
            <a  routerLinkActive="active" href="#contactpage">Contact</a>
            </li>
            <li>
            <a routerLink="projects" routerLinkActive="active">Projects</a>
            </li>
        </ul>
    </nav>

</header>
<router-outlet></router-outlet>