<main>

    <section class="flexcol">
        <app-personal-main-page id="mainpage"></app-personal-main-page>
    </section>

    <section class="flexcol">
        <app-personal-summary-page id="summarypage"></app-personal-summary-page>
    </section>

    <section class="flexcol">
        <app-personal-experience-page id="experiencepage"></app-personal-experience-page>
    </section>

    <section class="flexcol">
        <app-personal-contact-page id="contactpage"></app-personal-contact-page>
    </section>

</main>
