<main>
    <h1>EXPERIENCE!</h1>
    
    <section>
        <h2>Backend C++ Developer at Coppel Mexico - Consultancy at NEORIS</h2>
        <p>August 2023 - Remote - Present</p>
        <h3>RESPONSABILITIES</h3>
        <ul>
            <li>
                Configure machines provided by the client for our team and provide
                training on their use.
            </li>
            <li>
                Analyze and remediate vulnerabilities found by the Checkmarx scanner in
                C++ desktop systems in production.
            </li>
            <li>
                Remediate findings from new limited permissions of the new user on SQL
                database servers, adapting affected queries and stored procedures.
            </li>
        </ul>

        <h3>ACHIEVEMENTS</h3>
        <ul>
            <li>
                Remediated over 1000 occurrences, delivering 4 applications without
                vulnerabilities to the client
            </li>
            <li>
                Our team remediated over 5000 occurrences, delivering 12 applications
                free of vulnerabilities.                
            </li>
        </ul>
    
    </section>

    <br>

    <section>
        <h2>Backend Java Developer at Home Depot Canada - Consultancy at NEORIS</h2>
        <p>January 2023 - Remote</p>

        <h3>RESPONSABILITIES</h3>
        <ul>
            <li>
                Analyze and remediate vulnerabilities reported by the security team
                detected by the Fortify scanner in Java Spring Boot REST Microservices in
                production.
            </li>
            <li>
                Validate and verify the security of the systems managed by various SCRUM
                teams of the client.
            </li>
        </ul>

        <h3>ACHIEVEMENTS</h3>
        <ul>
            <li>
                Certified the client's production system with Fortify security software,
                achieving 90% vulnerability remediation.
            </li>
            <li>
                Our team remediated over 4000 occurrences.             
            </li>
        </ul>
    </section>

    <h1>EDUCATION</h1>
    <section>
        <h2>Computer Systems Engineering</h2>
        <p>2023 - National Technological Institute of Mexico, Culiacán Campus.</p>
    </section>
</main>
